$add: lightgreen;
$remove: lightcoral;
$change: mediumpurple;
$relate: lightskyblue;
$dirty: mediumvioletred;

html,
body {
  margin: 0;
  padding: 0;
}

div,
pre {
  margin: 0;
  padding: 0;
  display: block;
}

.file-check-result-list {
  padding: 0;
  list-style: none;
}

.relation-view {
  &-page {
    height: 100vh;
  }
}
