$add: lightgreen;
$remove: lightcoral;
$change: mediumpurple;
$relate: lightskyblue;
$dirty: mediumvioletred;

div,
pre {
  margin: 0;
  padding: 0;
  display: block;
}

.relation-view {
  &-container {
    position: relative;
    width: max-content;
  }
  &-texts {
    display: flex;
    gap: 2em;
    &__text {
      font-size: 12px;
      font-family: Menlo, Monaco, "Courier New", monospace;
      flex: 1 1 calc(50vw - 2em);
      max-width: calc(50vw - 2em);

      .line {
        display: flex;
        line-height: 1.2em;
        min-height: 1.2em;

        .line-num {
          width: 3em;
          margin-right: 0.5em;
          user-select: none;
        }

        .line-code {
          white-space: pre-wrap;
        }
      }
    }
  }
  &-svg {
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;

    rect,
    path {
      stroke: gray;
    }

    .remove {
      fill: $remove;
    }

    .add {
      fill: $add;
    }

    .change {
      fill: $change;
    }

    .relate {
      fill: $relate;
    }

    .dirty {
      fill: $dirty;
    }
  }
}
