.relation-form-config {
  position: relative;
  &__radios {
    position: absolute;
    top: 1.2em;
    left: 0;

    display: flex;

    width: max-content;

    &--hide {
      display: none;
    }

    & > ul {
      list-style: none;
      padding: 0.5em;
      margin: 0;
      background-color: gray;
    }
  }
}
