@import "../z-index.scss";

.relation-overview {
  height: 100%;
  display: flex;
  flex-direction: column;
  &__header {
    height: auto;
    flex: 0 0 auto;
    &__list {
      list-style: none;
      margin: 0;
      padding: 0;
      &__item {
        display: var(--block-operation-display);
      }
    }
  }
  &__relations {
    flex: 1 1 auto;
  }
  &__dialog {
    z-index: $dialog-z-index;
  }
  &--read-only {
    --block-operation-display: none;
    --flex-operation-display: none;
  }
}
